# =======================
# Spring Boot / Java
# =======================
/backend/target/
/backend/*.iml
/backend/.idea/
/backend/*.class
/.mvn/wrapper/maven-wrapper.jar
/backend/*.log 
/backend/uploads



# =======================
# Node / Angular
# =======================
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
frontend/package-lock.json
frontend/yarn.lock 

# =======================
# OS / IDE
# =======================
.DS_Store
Thumbs.db
.vscode/
.idea/
.env

# =======================
# Docker
# =======================
docker-compose.override.yml

# =======================
# Optional / Misc
# =======================
*.swp
*.tmp

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db 
*.rest
subject.md
infos.md
audit.md
