<div class="form-container ">
    <div>
        <span>
            Welcome To
        </span>

        <div class="logo">
            <div>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                </svg>
            </div>
            <span>BLOGIFY</span>

        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus praesentium magni laudantium libero
            maiores quibusdam alias.</p>

    </div>
    <div>
        <span>Login To Your Account</span>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="">Username/email</label>
                <input formControlName="identifier" type="text" id="username" placeholder="username">
                @if(myForm.get('identifier')?.invalid && myForm.get('identifier')?.touched){
                <div>
                    @if (myForm.get('identifier')?.hasError('required')) {
                    <small>identifier is required.</small>
                    }
                    @if (myForm.get('identifier')?.hasError('minlength') ) {
                    <small>Minimum 3 characters.</small>
                    }
                    @if (myForm.get('identifier')?.hasError('maxlength') ) {
                    <small>max 30 characters.</small>
                    }
                    @if (myForm.get('identifier')?.hasError('pattern') ) {
                    <small>only characters a-z.</small>
                    }
                </div>
                }
            </div>

            <div>
                <label for="">password</label>
                <input placeholder="password" type="password" id="password" formControlName="password">
                @if(myForm.get('password')?.invalid && myForm.get('password')?.touched){
                <div>
                    @if (myForm.get('password')?.hasError('required')) {
                    <small>password is required.</small>
                    }
                    @if (myForm.get('password')?.hasError('minlength') ) {
                    <small>Minimum 4 characters.</small>
                    }
                    @if (myForm.get('password')?.hasError('maxlength') ) {
                    <small>max 20 characters.</small>
                    }
                </div>
                }
            </div>

            <button [ngClass]="{'invalid':myForm.invalid} " type="submit" [disabled]="myForm.invalid || loading">
                {{loading ? 'Login in...' : 'Login'}}
            </button>
            <p>don't have an account!
                <a routerLink="/register">Register</a>
            </p>
        </form>
    </div>

</div>
@if(loading){
<div class="spinner-container">
    <span class="spinner"></span>
</div>
}